.mainContent {}

.cardContent {
    position: relative;
    height: 250px;
    overflow: hidden;
}

.tableContent {
    position: absolute;
    bottom: -40px;
    left: 25%;
    opacity: 0;
    transition: all linear .3s;
    cursor: pointer;

}

.mainContent:hover .tableContent {
    bottom: 10px;
    opacity: 1;
}

@media only screen and (max-width: 992px) {

    .tableContent {
        bottom: 10px;
        opacity: 1;
        left: 28%;
    }

    .cardContent {

        height: 300px;

    }
}